<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hnust.mapper.ItemMapper">

    <update id="update" parameterType="Item">
        UPDATE items
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="img != null">img = #{img},</if>
            <if test="status != null">status = #{status},</if>
            <if test="tag != null">tag = #{tag},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="isLost != null">is_lost = #{isLost},</if>
            <if test="publishTime != null">publish_time = #{publishTime},</if>
            <if test="region != null and region != ''">region = #{region},</if>
            <if test="color != null">color = #{color},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteByIds">
        delete from items where id in
        <foreach collection="ids" item="id" separator="," close=")" open="(">
            #{id}
        </foreach>
    </delete>

    <select id="pageQuery" resultType="Item">
        select * from items
        <where>
            <if test="role == 1"> <!-- If role is USER -->
                and status != 1 <!-- Exclude items with status USER -->
            </if>
            <if test="query.name != null and query.name != ''">
                and name like concat('%',#{query.name},'%')
            </if>
            <if test="query.region != null and query.region != ''">
                and region like concat('%',#{query.region},'%')
            </if>
            <if test="query.status != null">
                and status = #{query.status}
            </if>
            <if test="query.tag != null">
                and tag = #{query.tag}
            </if>
            <if test="query.userId != null">
                and user_id = #{query.userId}
            </if>
            <if test="query.isLost != null">
                and is_lost = #{query.isLost}
            </if>
            <if test="query.publishTime != null">
                and publish_time &gt;= #{query.publishTime}
            </if>
            <if test="query.color != null">
                and color = #{query.color}
            </if>
        </where>
        order by publish_time
    </select>

    <!--    TODO：日期范围未规定-->
    <!--    <select id="pageQuery" resultType="Item">-->
    <!--        select * from items-->
    <!--        <where>-->
    <!--            <if test="role == 1"> &lt;!&ndash; If role is USER &ndash;&gt;-->
    <!--                and status != 1 &lt;!&ndash; Exclude suggestions with status USER &ndash;&gt;-->
    <!--            </if>-->
    <!--            <if test="name != null and name != ''">-->
    <!--                and name like concat('%',#{name},'%')-->
    <!--            </if>-->
    <!--            <if test="status != null">-->
    <!--                and status = #{status}-->
    <!--            </if>-->
    <!--            <if test="tag != null">-->
    <!--                and tag = #{tag}-->
    <!--            </if>-->
    <!--            <if test="userId != null">-->
    <!--                and userId = #{userId}-->
    <!--            </if>-->
    <!--            <if test="isLost != null">-->
    <!--                and isLost = #{isLost}-->
    <!--            </if>-->
    <!--        </where>-->
    <!--        order by end_time asc , start_time desc-->
    <!--    </select>-->

</mapper>