<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hnust.mapper.SuggestionMapper">

    <update id="update" parameterType="Suggestion">
        UPDATE lost_found.suggestions
        <set>
            <!--            <if test="role == 1"> &lt;!&ndash; If role is USER &ndash;&gt;-->
            <!--                and user_id = #{userId}-->
            <!--            </if>-->
            <!--            <if test="userId != null">user_id = #{userId},</if>-->
            <if test="tag != null">tag = #{tag},</if>
            <if test="pollCount != null">poll_count = #{pollCount},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="status != null">status = #{status},</if>
            <if test="validateMsg != null and validateMsg != ''">validate_msg = #{validateMsg},</if>
            <if test="validatorId != null">validator_id = #{validatorId},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteByIds">
        delete from suggestions where id in
        <foreach collection="ids" item="id" separator="," close=")" open="(">
            #{id}
        </foreach>
    </delete>

    <!--    <select id="pageQuery" resultType="org.hnust.entity.Suggestion">-->
    <!--        select * from suggestions-->
    <!--        <where>-->
    <!--            <if test="role == 1"> &lt;!&ndash; If role is USER &ndash;&gt;-->
    <!--                and status != 1 &lt;!&ndash; Exclude suggestions with status USER &ndash;&gt;-->
    <!--            </if>-->
    <!--            <if test="userId != null">-->
    <!--                and user_id = #{userId}-->
    <!--            </if>-->
    <!--            <if test="tag != null">-->
    <!--                and tag = #{tag}-->
    <!--            </if>-->
    <!--            <if test="pollCount != null">-->
    <!--                and poll_count &gt; #{pollCount}-->
    <!--            </if>-->
    <!--            <if test="status != null">-->
    <!--                and status = #{status}-->
    <!--            </if>-->
    <!--            <if test="validatorId != null">-->
    <!--                and validator_id = #{validatorId}-->
    <!--            </if>-->
    <!--        </where>-->
    <!--        order by publish_time, poll_count desc-->
    <!--    </select>-->
    <select id="pageQuery" resultType="org.hnust.entity.Suggestion">
        select * from suggestions
        <where>
            <if test="role == 1"> <!-- If role is USER -->
                and status != 1 <!-- Exclude suggestions with status USER -->
            </if>
            <if test="query.userId != null">
                and user_id = #{query.userId}
            </if>
            <if test="query.tag != null">
                and tag = #{query.tag}
            </if>
            <if test="query.pollCount != null">
                and poll_count &gt; #{query.pollCount}
            </if>
            <if test="query.status != null">
                and status = #{query.status}
            </if>
            <if test="query.validatorId != null">
                and validator_id = #{query.validatorId}
            </if>
        </where>
        order by publish_time, poll_count desc
    </select>


</mapper>